<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <!--<connectionStrings>
    <add name="MidasD.Properties.Settings.MidasDConnectionString"
      connectionString="Data Source=RIUKASAN\MSSQLSERVER2016;Initial Catalog=MidasD;User ID=sa;Password=dexter"
      providerName="System.Data.SqlClient" />
    <add name="MidasD.Properties.Settings.MidasDConnectionString1"
      connectionString="Data Source=RIUK\MSSQLSERVER2016;Initial Catalog=MidasD;User ID=sa;Password=dexter"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="MidasD.Properties.Settings.MidasDConnectionString" connectionString="Data Source=RIUKASAN\MSSQLSERVER2016;Initial Catalog=MidasD;User ID=sa;Password=dexter" providerName="System.Data.SqlClient" />
    <add name="MidasD.Properties.Settings.MidasDConnectionString1" connectionString="Data Source=RIUK\MSSQLSERVER2016;Initial Catalog=MidasD;User ID=sa;Password=dexter" providerName="System.Data.SqlClient" />
    <add name="MidasD.Properties.Settings.MidasDConnectionString2" connectionString="Data Source=192.168.43.91\MSSQLSERVER2016;Initial Catalog=MidasD;User ID=sa;Password=Passw0rd" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ArgosService" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_MidasDService" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.2.25/wcfArgos/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ArgosService" contract="SrArgos.ArgosService" name="BasicHttpBinding_ArgosService" />
      <endpoint address="http://192.168.43.91/WcfMidasD/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MidasDService" contract="SrMidasD.MidasDService" name="BasicHttpBinding_MidasDService" />
    </client>
  </system.serviceModel>
  <!--<appSettings>
    <add key="DefaultCulture" value="es-Bo" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>-->
  <system.web>
    <!--<httpRuntime executionTimeout="90" maxRequestLength="4096" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>-->
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
   
  </system.web>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="1mayo" value="1" />
    <add key="CertificadoResoDaf" value="011/2017" />
    <add key="CertificadoResoMartilleros" value="020/2019" />
    <add key="ActualizacionVer" value="1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.85.4.369" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
